body * {
  font-family: 'Source Sans Pro', Helvetica, Arial ,sans-serif;
  font-size: 1em;
  vertical-align: middle;
}

.margin-sm {
  margin: 10px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-flow: row;
}

.flex-column {
  flex-flow: column;
}

.flex-center {
  align-items: center;
  justify-content: space-around;
}

::placeholder {
  color: #eee;
}

.filter-view {
  color: #999;
  font-size: 1em;
  padding: 10px;
  border: thin solid #eee;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0 #eee;
  transition: box-shadow .5s ease;

  &:focus {
    box-shadow: 0 0 10px #ddd;
  }
}

.list-view {
  opacity: 1;
  transition: opacity .1s ease;

  &.loading {
    opacity: 0.1;
  }

  & > * {
    padding: 1em;
    border-bottom: thin solid #eee;
  }
}

.paginate-view {
  margin: .8em;
  font-size: 1em;
  font-weight: bold;

  & .paginate-item,
  & .paginate-prev,
  & .paginate-next {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 2px;
  }

  & .paginate-item:hover,
  & .paginate-prev:hover,
  & .paginate-next:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    color: #fff;
  }

  .paginate-item.activated {
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
  }
}
